In [2]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [7]:
len(enron_data)

146

In [8]:
len(enron_data.values())

146

In [11]:
len(enron_data['ALLEN PHILLIP K'])

21

In [34]:
 enron_data['ALLEN PHILLIP K'].keys()

['salary',
 'to_messages',
 'deferral_payments',
 'total_payments',
 'exercised_stock_options',
 'bonus',
 'restricted_stock',
 'shared_receipt_with_poi',
 'restricted_stock_deferred',
 'total_stock_value',
 'expenses',
 'loan_advances',
 'from_messages',
 'other',
 'from_this_person_to_poi',
 'poi',
 'director_fees',
 'deferred_income',
 'long_term_incentive',
 'email_address',
 'from_poi_to_this_person']

In [13]:
sum = 0
for i in enron_data:
    sum+= enron_data[i]['poi']

In [14]:
sum

18

In [25]:
for i in enron_data:
    if(i[0]=='S'):
        print(i)
        print(enron_data[i]['exercised_stock_options'])

SUNDE MARTIN
NaN
SHANKMAN JEFFREY A
1441898
SHAPIRO RICHARD S
607837
SHERRIFF JOHN R
1835558
SHELBY REX
1624396
SULLIVAN-SHAKLOVITZ COLLEEN
1362375
SCRIMSHAW MATTHEW
759557
STABLER FRANK
NaN
SKILLING JEFFREY K
19250000
SHERRICK JEFFREY B
1426469
SHARP VICTORIA T
281073
SAVAGE FRANK
NaN

In [31]:
import feature_format

In [33]:
data  = feature_format.featureFormat(enron_data,features)

ValueError: could not convert string to float: mark.metts@enron.com